#grid {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.gridElement {
  width: 1%;
  padding-top: 1%;
  background-color: blue;
}

.hovered {
  background-color: gray;
}

button {
  border-radius: 6px;
  border: 2px solid black;
  width: 100%;
  padding: 10px;
}
